<header class="header">
  <h1 mat-dialog-title>Title</h1>
  <div mat-dialog-content>
    <p>Rover name</p>
    <mat-form-field class="input" appearance="fill">
      <mat-label>Rover name</mat-label>
      <mat-select [(ngModel)]="data.rover">
        <mat-option value="curiosity">Curiosity</mat-option>
        <mat-option value="opportunity">Opportunity</mat-option>
        <mat-option value="spirit">Spirit</mat-option>
      </mat-select>
    </mat-form-field>

    <p>Camera</p>
    <mat-form-field class="input" appearance="fill">
      <mat-label>Camera</mat-label>
      <mat-select [(ngModel)]="data.camera">
        <mat-option value="rhaz">Rear Hazard Avoidance Camera</mat-option>
        <mat-option value="mast">Mast Camera</mat-option>
        <mat-option value="chemcam">Chemistry and Camera Complex</mat-option>
        <mat-option value="mahli">Mars Hand Lens Imager</mat-option>
        <mat-option value="madri">Mars Descent Imager</mat-option>
        <mat-option value="navcam">Navigation Camera</mat-option>
        <mat-option value="pancam">Panoramic Camera</mat-option>
      </mat-select>
    </mat-form-field>
    <p>sol (Martian rotation or day)</p>
    <mat-form-field class="input" appearance="fill">
      <mat-label>
        the number of days since the arrival of the satellite</mat-label
      >
      <input
        matInput
        type="number"
        placeholder="1000"
        value="1000"
        [(ngModel)]="data.sol"
      />
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button
      (click)="dialogRef.close(data)"
      mat-raised-button
      color="primary"
      mat-button
      cdkFocusInitial
    >
      Search
    </button>
  </div>
</header>
